* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Condensed", sans-serif;
}

/* different units px,vh,rem */

.container {
    width: 100%;
    height: 100vh;
    /* 1 vh= 19.2px */
    position: relative;
    background-color: white;
}

.nav_bar {
    display: flex;
    width: 84%;
    /* to place items left and right */
    justify-content: space-between;
    margin-left: 100px;
    /* to vertically center an item */
    align-items: center;
}

#logo {
    width: 130px;
}

.linkItem {
    /* to align items in same line */
    display: inline-block;
    margin: 10px 20px;
}

.links {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.links:hover {
    color: red;
}

#lastname {
    color: orange;
}

.title {
    margin-top: 13%;
    margin-left: 12%;
}

.title_h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.download {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 30px;
    margin-top: 25px;
    display: inline-block;
    border-radius: 10px;
}

.images {
    height: 85%;
    width: 45%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}

.imagegroup {
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 2s;
}

.images:hover #girl {
    left: 40%
}

.images:hover #shape {
    bottom: 40px;
}

#about {
    margin: 20% 8% 0% 8%;
    text-align: center;
}

.heading {
    font-size: 25px;
    text-align: center;
}

.heading span {
    color: green;
    font-size: 20px;
}

.about_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 1 fr= 225px */
    column-gap: 2rem;
    /* 1 rem=116px */
    margin-top: 3rem;
}

.about_img img {
    width: 80%;
    border-radius: 10px;
}

.about_para {
    text-align: justify;
    font-size: 20px;
}

.information {
    margin-top: 25px;
}

.info_box {
    margin-left: 1rem;
    font-size: 25px;
    display: flex;
}

.info_box span {
    margin-top: 15px;
    margin-left: 10px;
}

#skills {
    margin: 40% 8% 0% 6%;

}

.skill_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin-top: 3rem;

}

.progress_container {
    margin-top: 10px;
}

.progress_bar {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem 0px;
    justify-content: space-between;
    position: relative;
}

.bar {
    width: 100%;
    height: 0.5rem;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
}

.html_bar {
    width: 95%;
    background-color: orange;
}

.css_bar {
    width: 85%;
    background-color: orange;
}

.react_bar {
    width: 95%;
    background-color: orange;
}

.js_bar {
    width: 90%;
    background-color: orange;
}

.skill_image {
    width: 90%;
    padding-left: 4rem;
}

#contact {
    margin: 5% 8% 0% 8%;
}

.icon_set {
    display: flex;     /* to align block items in a line  */

    align-items: center;
    /* to vertically center an item  */

    justify-content: center;
    /* to align items horizontally center */

    margin-top: 2rem;
}

.icon,.up_arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
}

.icon i{    /* inside icon claa for i tag styling  */
    font-size: 2rem;
    color: black;
}
footer p{
    text-align: center;
    font-weight: bolder;
    margin-top: 50px;
}
.icon:hover{
    background-image: linear-gradient(to bottom right, yellow,red);
}

.icon:hover i{
 color: white;
 animation: shake 0.75s;
}

/* shake is a user defined animation to use it @keyframes is used */
@keyframes shake{
10%{
    transform: rotate(15deg);
}
20%{
    transform: rotate(-15deg);
}
30%{
    transform: rotate(15deg);
}
40%{
    transform: rotate(-15deg);
}
}

.up_arrow{
    background-image: linear-gradient(to bottom right, yellow, red);
    float: right;
    margin: 20px 10px 5px 0px;
}

html{
    scroll-behavior:smooth;
}